.movie-row {
  padding: 20px;
  text-align: left;
}

.movie-row h3 {
  margin-left: 20px;
}

.movie-posters {
  display: flex;
  overflow-x: scroll;
  gap: 15px;
  padding: 20px;
}

.poster {
  height: 200px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.poster:hover {
  transform: scale(1.1);
}

.movie-posters::-webkit-scrollbar {
  display: none;
}
